/.vscode
console/*.o
include/*.o
myBigChars/*.o
myReadKey/*.o
mySimpleComputer/*.o
myTerm/*.o
simpleassembler/*.o
simplebasic/*.o

console/*.exe
include/*.exe
myBigChars/*.exe
myReadKey/*.exe
mySimpleComputer/*.exe
myTerm/*.exe
simpleassembler/*.exe
simplebasic/*.exe

mySimpleComputer/*.dat